# Calculating Closeness, Bewteenness, and Degree

In [1]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline
import warnings; warnings.simplefilter('ignore')

In [2]:
G_symmetric = nx.Graph()

In [5]:
%%time
df_network = pd.read_csv('combined_github_data.csv')

df_network.head()

mask = df_network['ml_target'] != df_network['ml_target_2']
df_network = df_network[mask]
df_network.head()

for i in range(len(df_network)):
    G_symmetric.add_edge(df_network.iloc[i]['name'],  df_network.iloc[i]['name_2'])

Wall time: 12.7 s

In [9]:
degree = nx.degree_centrality(G_symmetric)

In [10]:
%%time
closeness = nx.closeness_centrality(G_symmetric)

Wall time: 20min 56s

In [11]:
%%time
betweeness = nx.betweenness_centrality(G_symmetric)

Wall time: 37min 18s

In [16]:
df_degree = pd.DataFrame(degree.items())
df_betweeness = pd.DataFrame(betweeness.items())
df_closeness = pd.DataFrame(closeness.items())
df_degree.head()

df_new = df_degree.merge(df_betweeness, left_on=0, right_on=0)
df_result = df_new.merge(df_closeness, left_on = 0, right_on = 0)
df_result['Centrality'] = df_result['1_y'] + df_result[1] + df_result['1_x']

In [19]:
df_ml_flags = pd.read_csv('musae_git_target.csv')
df_result = df_result.merge(df_ml_flags, right_on='name', left_on=0)

In [20]:
df_result.head()

,0,1_x,1_y,1,Centrality,id,name,ml_target
0,danalex97,0.000054,0.000000,0.189882,0.189936,6067,danalex97,1
1,benjaminaaron,0.000483,0.000494,0.236340,0.237316,19720,benjaminaaron,0
2,SuhwanCha,0.000161,0.000104,0.222340,0.222605,3,SuhwanCha,0
3,YuHyun7,0.000054,0.000000,0.180739,0.180793,4950,YuHyun7,1
4,graykode,0.000376,0.000221,0.264589,0.265186,18029,graykode,1

In [23]:
df_result.to_csv('Centrality_github_data_cross_edge.csv')